@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Nova+Round&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Nova Round', cursive;
    box-sizing: border-box;
}
body{
   background-color: var(--background-color);
}
:root{
    --background-color: #060454;
    --text-color: #6EDCD9;
    --title-color: #db3eb1;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* header start*/

.inverted {
  background-color: rgba(0, 0, 0, 0.555);
  color: #000;
  width: 100%;
}

.header{
    z-index: 1;
    position: fixed;
    left: 0%;
    top: 3vh;
    transition: background-color 0.3s ease;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 28%;
    align-items: center;
    padding: 1rem 1.5rem;
    width: 100%;
    height: 100%;
    
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #6EDCD9;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.nav-link:hover{
    color: var(--title-color);
}

.nav-logo img{
    width: 100px;
    height: 80px;
}
@media only screen and (max-width: 768px) {
  
  .header{
    z-index: 1;
    margin-top: 10vh;
  }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        z-index: 1;
    }

    .nav-item {
      z-index: 1;
        margin: 2.5rem 0;
    }

    .hamburger {
      z-index: 1;
        display: block;
        cursor: pointer;
        margin-left: 0%;
        
    }

    .hamburger.active .bar:nth-child(2) {
      z-index: 1;
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        z-index: 1;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        z-index: 1;
    }

}

/* header end */

/* randome shape */


.marker {
    margin: 70px 70% 87px;
    width: 36px;
    height: 36px;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @-webkit-keyframes pulse {0%{-webkit-transform:scale(0.1,.1);opacity:0}50%{opacity:1}100%{-webkit-transform:scale(1.2,1.2);opacity:0}}
  
  .marker [class*=pulse_] {
    border: 2px solid #fff;
    -webkit-border-radius: 40px;
    height: 36px;
    width: 36px;
    position: absolute;
    -webkit-animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation: pulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;  
  }
    .marker [class*=pulse_].pulse_1 {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
  }


  .markers {
    margin: 70px 5% 87px;
    width: 36px;
    height: 36px;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @-webkit-keyframes pulse {0%{-webkit-transform:scale(0.1,.1);opacity:0}50%{opacity:1}100%{-webkit-transform:scale(1.2,1.2);opacity:0}}
  
  .markers [class*=pulse_] {
    border: 2px solid #fff;
    -webkit-border-radius: 40px;
    height: 36px;
    width: 36px;
    position: absolute;
    -webkit-animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation: pulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;  
  }
    .markers [class*=pulse_].pulse_1 {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
  }

  @media only screen and (max-width: 768px){
    .side-page{
        display: none;
    }
    .auto-type{
        position: relative;
        top: -15vh;
        z-index: -1;
    }
    .auto-type h1{
        font-weight: 200;
        font-size: 10px;
    }
    .auto-type a{
        display: inline-block;
    }
    .marker{
        position: relative;
        left: -45%;
        top: -20vh;
    }
    .m3{
        display: none;
    }
    
    .button{
        margin: 20px 10px;
        font-size: 15px;
    }
    .button a{
        font-size: 15px;
    }
    .space{
      display: none;
    }
    .auto-type > img{
      display: none;
    }
  }

/* first page */
.space{
  width: 100%;
  height: 8vh;
  background-color: var(--text-color);
  margin-top: -5vh;
}
.auto-type img{
  width: 1100px;
  height: 750px;
  position: absolute;
  left: 35%;
  top: -5vh;
  z-index: 1;
}
.auto-type{
    color: var(--text-color);
    margin-top: -10%;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 20px;
    margin-left: 2%;

    display: flex;
}
.auto-type a{
    color: var(--title-color);
}

.auto-type p{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
.auto-type .btn{
    color: var(--title-color);
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid var(--title-color);
    padding: 10px 30px;
    text-decoration: none;
}
.auto-type .btn{
    background-color: var(--title-color);
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}

.auto-type h1{
    font-size: 75px;
    line-height: 160px;
    font-family: serif;
}

.button {
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    transition: .5s;
    position: relative;
    top: 10%;
  }
  
  .button:hover {
    color: black;
    background-color: #db3eb1;
    filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  }

/* side pic */

.side-page{
    margin-left: 5%;
}
.liquid-circle {
    display: block;
    margin: 5em auto;
    animation: liquid 20s linear infinite;
  }
  .circle {
    background-size: 1000% 90%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 4em auto;
    animation: blob 10s linear infinite, blobBackground 15s linear infinite;
    position: relative;
  }
  
  @keyframes liquid {
    0%   { transform: scale(1) rotate(0deg);   }
    20%  { transform: scale(0.9, 1) rotate(72deg); }
    40%  { transform: scale(0.95, 1) rotate(144deg); }
    60%  { transform: scale(1, .9)  rotate(216deg); }
    80%  { transform: scale(1, .86) rotate(288deg); }
    100% { transform: scale(1)  rotate(360deg); }
  }
  
  @keyframes blob {
    0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
      20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
      40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
      60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
      80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
  }
  
  @keyframes bgGradient {
    0% {background-position: 0% 50%; }
    50% {background-position: 100% 50%; }
    100% {background-position: 0% 50%; }
  }
  @keyframes blobBackground {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }


  
  /* experience */
  .education{
    position: relative;
    top: -25vh;
  
  }
  .row h2{
    color: var(--text-color);
    font-size: 35px;
  }
  section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #db3eb1 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  .experience p {
    color: #000;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: var(--background-color);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: var(--text-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: var(--title-color);
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .row{
        position: relative;
        top: -5vh;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  @media screen and (max-width: 384px){
    .education{
      margin-top: 65vh;
      margin-left: 8%;
    }
    .header{
      margin-top: -7vh;
      margin-left: -3%;
    }
  }


  /* experience */
.experience{
  margin-top: 20vh;
  z-index: -1;
}
  .section-heading {
  text-align:center;
  color: var(--text-color);
  margin-top: 160px;
  margin-bottom:70px;
  font-size: 35px;
  
  
}
.column-1 {
    width: 90%;
    height: auto;
    padding-top:70px;
    padding-left:70px;
    padding-bottom:70px;
    margin: auto;
    margin-bottom:50px;
    margin-top: 75px;
    background-color:white;
  
  }
  .column-1 h2{
    margin-left: 5%;
  }
  tr td{
    position: relative;
    left: 10%;
  }
  /* Table formatting */
  .table-style {
    width:100%;
    border-spacing: 24px;
  }

  @media screen and (min-width: 412px){
    .experience{
      position: relative;
      top: -30vh;
    }
    .column-1 > h2{
      position: absolute;
      left: 6%;
    }
    .table-style{
      margin-top: 5vh;
      text-align: start;
      margin-left: -10%;
    }
  }
  @media screen and (max-width: 384px){
    .experience{
      position: relative;
      top: -30vh;
    }
    .column-1 > h2{
      position: relative;
      left: -20%;
      
    }
    .column-1 h2 table tr td{
      position: absolute;
      left: -50%;
    }
    .table-style{
      position: relative;
      left: -30%;
    }
  }

  /* skill section */
  
  .montainer h2 {
    font-size: 35px;
    font-weight: 600;
    padding: 50px 0 70px 0;
    margin: 0 0 30px;
    text-align:center;
    color:var(--text-color);
    /* text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
    background:#000;
    border-radius:2px;
    border: 1px solid #2187e7;  
    box-shadow: 0px 0px 50px -8px #2187e7; */
  }
  .montainer {
    width: 90%;
    padding:5%;
    margin: -10% auto; 
    overflow: hidden;
    margin-top: 80vh;
  }
  
  .col {
    width: 23%;
    margin: 0 10%;
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 2em;
    gap: 20%;

    } 
  .col { width:80%; }
  .skill { 
    list-style:none; 
  }
  
  .skill li { 
    margin-bottom:70px; 
    background:#030303; 
    height:6px; 
    border-radius:3px; 
    border-left:1px solid #111; 
    border-top:1px solid #111; 
    border-right:1px solid #333; 
    border-bottom:1px solid #333;  
  }
  
  .skill li em { 
    position:relative; 
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: var(--text-color);
    top:-28px;
  }
  
  .blueline { 
    height: 3px; 
    margin: 2px 0; 
    background: var(--title-color); 
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(255, 0, 217, 0.6);
  }
  .greenline { 
    height: 3px; 
    margin: 2px 0; 
    background: #9ACD32; 
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(173, 255, 47,0.4);
  }
  .redline { 
    height: 3px; 
    margin: 2px 0; 
    background: var(--title-color); 
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(255, 0, 217, 0.6);
  }
  
  .titulo      { opacity:1;  animation:titulo 5s ease-out;     }
  
  /*programacion*/
  .html        { width:80%;  animation:html 2s ease-out;       }
  .css         { width:100%;  animation:css 2s ease-out;        }
  .php         { width:85%;  animation:php 2s ease-out;        }
  .javascript  { width:90%;  animation:javascript 2s ease-out; }
  .jquery      { width:100%;  animation:jquery 2s ease-out;     }
  
  /*plataformas*/
  .wordpress   { width:80%;  animation:wordpress 2s ease-out;  }
  .prestashop  { width:60%;  animation:prestashop 2s ease-out; }
  .joomla      { width:40%;  animation:joomla 2s ease-out;     }
  .blogger     { width:70%;  animation:blogger 2s ease-out;    }
  .tridion      { width:60%;  animation:tridion 2s ease-out;     }
  
  /*programas*/
  .dreamweaver { width:80%;  animation:dreamweaver 2s ease-out;}
  .illustrator { width:85%;  animation:illustrator 2s ease-out;}
  .photoshop   { width:90%;  animation:photoshop 2s ease-out;  }
  .premiere    { width:90%;  animation:premiere 2s ease-out;   }
  .flash       { width:100%;  animation:flash 2s ease-out;      }
  
  
  @keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }
  
  /*programacion*/
  @keyframes html        { 0% { width:0px; } 100% { width:80%; }  }
  @keyframes css         { 0% { width:0px; } 100% { width:100%; }  }
  @keyframes php         { 0% { width:0px; } 100% { width:85%; }  }
  @keyframes javascript  { 0% { width:0px; } 100% { width:90%; }  }
  @keyframes jquery      { 0% { width:0px; } 100% { width:100%; }  }
  
  /*plataformas*/
  @keyframes wordpress   { 0% { width:0px; } 100% { width:80%; }  }
  @keyframes prestashop  { 0% { width:0px; } 100% { width:60%; }  }
  @keyframes joomla      { 0% { width:0px; } 100% { width:40%; }  }
  @keyframes blogger     { 0% { width:0px; } 100% { width:70%; }  }
  @keyframes tridion      { 0% { width:0px; } 100% { width:60%; }  }
  
  /*programas*/
  @keyframes dreamweaver { 0% { width:0px; } 100% { width:80%; }  }
  @keyframes illustrator { 0% { width:0px; } 100% { width:85%; }  }
  @keyframes photoshop   { 0% { width:0px; } 100% { width:90%; }  }
  @keyframes premiere    { 0% { width:0px; } 100% { width:90%; }  }
  @keyframes flash       { 0% { width:0px; } 100% { width:100%; }  }
  
  /*media queries*/
  @media (max-width: 1200px){
    h2 {font-size:2.2em;}
  }
  @media (max-width: 980px){
    h2 {font-size:1.8em;}
  }
  @media (max-width: 767px){
    h2 {font-size:1.4em;}
  }
  @media (max-width: 580px){
    h2 {font-size:1.1em; padding:10px 0;}
  }
  @media (max-width: 384px){ 
    h2 {font-size:2.2em; padding: 10px 0 15px 0;}
    .col {width: 90%;}
    .ford{margin-top: 330vh;}
  }


/* contact section */
.fifth{
  margin-top: 40vh;
}
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: var(--background-color);
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: var(--text-color);
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: var(--text-color);
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--title-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: var(--title-color);
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
@media (max-width: 384px){
  .fifth{
    margin-top: 60vh;
    margin-left: 8%;
  }
}

/* footer */

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: var(--title-color);
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid var(--title-color);
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  var(--title-color);
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: var(--title-color);
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: var(--title-color);
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: var(--title-color);
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:384px){
  footer{
    position: relative;
    margin-top: 60vh;
    width: 110%;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

.button-81 {
  margin-top: 20px;
  background-color: var(--background-color);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #fff;
  color: var(--title-color);
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}